body {
  background-color: #121212;
  color: #f5f5f5;
  font-family: 'Segoe UI', sans-serif;
  text-align: center;
  margin: 0;
}

h1, h2 {
  color: #00d8ff;
}

a.btn{
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  margin: 10px;
  text-decoration: none;
}

a.btn:hover {
  background-color: #0056b3;
}

a {
  color: #00d8ff;
}