@page
@{
    ViewData["Title"] = "About - Kaustav Mukherjee";
}

<section
style="padding:50px;text-align:center;">
  <h2>About Me</h2>
  <p>Hi ! I am Kaustav Mukherjee, a Software Developer.</p>
  <p>I enjoy creating and developing projects that solve real-world problems</p>
  </section>