@page
@{
    ViewData["Title"] = "Contact - Kaustav Mukherjee";
}

<section
style="padding:50px;text-align:center;">
    <h2>Contact Me</h2>
    <p>Email: <a href="mailto: kaustavm374@gmail.com">kaustavm374@gmail.com</a></p>
    <p>Github: <a href="https://github.com/coder829">github.com/coder829</a></p>
    <p>LinkedIn: <a href="https://linkedin.com/in/kaustav-mukherjee-here">linkedin.com/in/kaustav-mukherjee-here</a></p>
</section>