@page
@{
    ViewData["Title"] = "Projects - Kaustav Mukherjee";
}

<section
style="padding:50px;text-align:center;">
  <h2>My Projects</h2>
  <ul style="list-style:none;">
      <li>Portfolio Website (HTML, CSS, JavaScript)</li>
      <li>Jarvis: Voice Assistant (Python)</li>
  </ul>
</section>